@model DGraph.Web.Models.SearchResultModel

@{
    ViewBag.Title = "Search Dependencies";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <form class="col-md-12" role="search" id="search-form" action="@Url.Action("Search")">
        @Html.HiddenFor(model => model.Page)
        @Html.HiddenFor(model => model.Rows)
        @Html.HiddenFor(model => model.TotalPages)
        <div class="form-group col-md-12">
            <label for="Keywords">Keywords: </label>
            <input type="text" class="form-control" placeholder="Search keywords" name="Keywords" id="Keywords" />
        </div>
        <div class="form-group col-md-12">
            <label for="Name">Name: </label>
            <input type="text" class="form-control" placeholder="Search by name" name="Name" id="Name" />
        </div>
        <br />
        <br />
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-default form-control" id="submit">Submit</button>
        </div>
    </form>
</div>

<div class="row col-lg-12 col-md-12">
    <div class="col-md-2 col-lg-2"><label>ApplicationName</label></div>
    <div class="col-md-2 col-lg-2"><label>Id</label></div>
    <div class="col-md-2 col-lg-2"><label>TargetFramework</label></div>
    <div class="col-md-2 col-lg-2"><label>Type</label></div>
    <div class="col-md-2 col-lg-2"><label>Version</label></div>
    <div class="col-md-2 col-lg-2"><label>DateTime</label></div>
</div>
<div class="row" id="results">
    @Html.Partial("Search", Model)
</div>
@section scripts{
    <script src="@Url.Content("~/bundles/search")" type="text/javascript"></script>
}
