@model DGraph.Web.Models.SearchResultModel

<div class="row">
    @if (Model != null && Model.Results != null)
    {
        foreach (var item in Model.Results)
        {
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="col-md-2 col-lg-2">@(item.ApplicationName ?? "N/A")</div>
                    <div class="col-md-2 col-lg-2">@item.Id</div>
                    <div class="col-md-2 col-lg-2">@(item.TargetFramework ?? "N/A")</div>
                    <div class="col-md-2 col-lg-2">@item.Type</div>
                    <div class="col-md-2 col-lg-2">@(item.Version ?? "N/A")</div>
                    <div class="col-md-2 col-lg-2">@item.DateTime</div>
                </div>
            </div>
        }
    }
</div>
<div class="row">
    @if (Model != null && Model.Search != null)
    {
        <div class="col-md-3">
            <button class="btn" id="prevPage"><<</button>
        </div>
        <div class="col-md-3"><label>Page:</label> @Model.Search.Page</div>
        <div class="col-md-3"><label>Rows:</label> @Model.Search.Rows</div>
        <div class="col-md-3">
            <button class="btn" id="nextPage">>></button>
        </div>
    }
</div>
